
.a {
    background-image: url(https://static.tildacdn.com/tild3834-3465-4962-b030-373533303438/noroot.png);
    height: 2000px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.b {
    width: 100%;
    height: 4000px;
    background-color: white;
}